
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px;
    border-radius: 10px 10px 0px 0px;

}
.topmenu{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-weight: 500;
    font-family: Oswald,sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 5px lightslategray;
}
hr{
    background-color: white;
    margin: 0;
}
body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FCD2D1;
    margin-top: 10px;
    font-family: Oswald,sans-serif ;
}
.reklama{
    display: flex;
    background-color: white;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 5px lightslategray;
}
#intro{
    font-size: 14px;
    color: #55a630;
    margin-top: 50px;
    margin-bottom: 0px;
}
#zaglav{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 15px;
}
#adidas{
    width: 500px;
    margin-top: 50px;
}
#adidasopisaniye{
    color: lightslategray;
    font-weight: 100;
    margin: 20px;
}
.button{
    background-color: lightskyblue;
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
}
.button:hover{
     width: 150px;
     background-color: lightgreen;
     color: white;
     transition: 1s;
}
.main{
    display: flex;
    background-color: white;
    padding: 50px;
    width: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px lightslategray;
    flex-wrap: nowrap;
    flex-direction: column;
   

}
.mainnaz{
    display: flex;
    justify-content: space-between;
   
    width: 100%;
    flex-wrap: nowrap;
}
#new{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
#see{
    font-size: 14px;
  margin: 0;
    color: lightslategray;
    text-align: center;
    margin-left: 7px;
    
}
#seeall{
   display: flex;
    border: 2px solid;
    width: 60px;
    height: 20px;
    border-color: lightslategray;
    align-items: center;
    border-radius: 10px;
    padding: 3px;
    margin-top: 4px;
}
#seeall img{
    height: 15px;
    margin-top: 2px;
    margin-left: 5px;
}
.maincontent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo{
    width: 500px;
}
.discription{
    margin: 0;
    font-size: 22px;
}
.price{
    color: lightslategray;
}
.item{
    width: 500px;
    height: 670px;
}
.bottom{
    display: flex;
    background-color: white;
    margin-top: 10px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 3px 5px lightslategray;
    padding: 50px;
    justify-content: space-between;
}
.left{
    width: 50%;
}
#follow{
    font-size: 30px;
}
.words{
    color: lightslategray;
}
.socials{
    margin-top: 70px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contact{
    font-size: 30px;
}
.contact1{
    font-size: 30px;
    margin-bottom: 11px;
}
.right{
    width: 40%;
}
.right>a{
    text-decoration: none;
    font-size: 20px;
 
}
